<!DOCTYPE html>
<html>
    <head>
        <title>Create Skill</title>
    </head>
    <body>
        <h1>
            Add a New Skill
        </h1>
        <hr>
         <form method="post">
             {% csrf_token %}
             {{ form.as_p }}
        <button type="submit">Save</button>
          </form>
          <hr>
          <h2>
            <ul>
                {% for sk in skills %}
                <li>
                    <strong>
                        {{sk.title}} 
                    </strong>
                    <br>
                    {{sk.description}}
                </li>
                <br>
                {% empty %}
                    <li>
                        Not found.
                    </li>
                    {% endfor %}
            </ul>
          </h2>
    </body>
</html>