<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
</head>
<body>
    <h1>All Projects</h1>
    <a href="{% url 'create_projects' %}">Add New Project</a>
    <hr>
    <ul>
        {% for project in projects %}
            <li>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <strong>Developers:</strong>
                <ul>
                    {% for dev in project.developers.all %}
                        <li>{{ dev.first_name }} {{ dev.last_name }}</li>
                    {% endfor %}
                </ul>
            </li>
            <br>
        {% empty %}
            <li>No projects found.</li>
        {% endfor %}
    </ul>
</body>
</html>