
<!DOCTYPE html>
<html lang="En">
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/back.css' %}">


<head>
    <meta charset="UTF-8">
    <title>Home Page </title>
    <style>
        body { font-family: sans-serif; direction: rtl; text-align: center; margin-top: 100px; }
        a { display: block; margin: 10px; font-size: 18px; color: #007bff; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
     {% include 'navbar.html' %} 
    <h1> Welcome to My Project</h1>
    <a href="/developers/">Developers Section</a>
    <a href="/projects/"> Project Section</a>
</body>
</html>

<br>
<br>
<div style="margin-top: 50px; padding-top: 20px; border-top: 1px solid #ccc;">
        <img src="{% static 'logo/logo.jpg' %}" alt="Project Logo" style="max-width: 150px; height: auto;">
